.nav {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  grid-gap: 20px;
}
.header {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 999;
  border-bottom: 1px solid #ECEFF1;
}
.link-header {
  color: #888;
  text-decoration: none;
  transition: .3s;
  margin-left: 30px;
  font-size: 16px;
  text-align:
}
.link-header:hover {
  color: black;
}
.links {
  width: '100%';
  display: flex;
  justify-content: flex-end;
}
.title {
  font-size: 3em;
  font-weight: 900;
  font-family: 'Cardo', serif;
  margin-bottom: 60px;
}
.description {
  color: rgb(95,96,97);
  font-size: 1.8em;
  font-weight: lighter;
  line-height: 1.7em;
  margin-bottom: 60px;
}
.email, .github {
  color: rgb(222,0,62);
  text-decoration: none;
}
.container-currently {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  justify-items: center;
}
.currently {
  font-size: 1.4em;
  color: 424242;
  font-weight: lighter;
}
.single-line {
  height: 1px;
  width: 100%;
  background-color: black;
}
.fa-bars, .fa-times {
  display: none;
  font-size: 1.6em;
}
.image-logo {
  width: 70px;
}
@media(max-width: 769px) {
  .nav {
    grid-template-areas: "logo icons"
                         "links links";
    width: 100%;
  }
  .logo {
    grid-area: logo;
  }
  .fa-bars, .fa-times {
    grid-area: icons;
  }
  .single-line {
    display: none;
  }
  .image-logo {
    width: 60px;
  }
  .container-currently {
    grid-template-columns: 1fr;
  }
  .fa-bars, .fa-times {
    display: block;
    justify-self: end;
    margin-right: 20px;
  }
  .links {
    display: none;
  }
  .links.false {
    display: block;
    width: 100%;
    grid-area: links;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: rgb(245,245,245);
  }
  .links.false .link-header {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}