.footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  width: 88%;
  margin: auto;
  bottom: 0;
  height: auto;
}
.social {
  display: flex;
  justify-content: space-around;
}
.by {
  font-size: 18px;
}
.social-media {
  font-size: 1.8em;
  color: #000;
  text-decoration: none;
}
@media (max-width: 769px) {
  .footer {
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .social {
    flex-direction: column;
  }
}

/*HEADER JS*/
/*HEADER JS*/
/*HEADER JS*/

.nav {
  width: 75%;
  margin: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 6px;
  box-sizing: border-box;
}
.header {
  background-color: #f1f2f2;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 999;
  color: rgb(47, 47, 47);
}
.home-container {
  width: 88%;
  margin: auto;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title {
  font-size: 3em;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
}
.description {
  color: rgb(95, 96, 97);
  font-size: 1.8em;
  line-height: 1.7em;
  font-family: 'Open Sans', sans-serif;
}
.email,
.github {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.email:hover,
.github:hover {
  text-decoration: underline;
}
.container-currently {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  justify-items: center;
}
.currently {
  font-size: 1.4em;
  color: 424242;
  font-weight: lighter;
  text-align: center;
}
.single-line {
  height: 1px;
  width: 100%;
  background-color: black;
}
.fa-bars,
.fa-times {
  display: none;
  font-size: 1.6em;
}
.image-logo {
  width: 55px;
  border-radius: 4px;
}

/*burger Menu*/
.burger,
.burger-active {
  width: 24px;
  height: 30px;
  position: relative;
  background: transparent;
  border: none;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  display: block;
  float: right;
  padding: 0;
  top: -2px;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: none;
}
.burger:focus,
.burger-active:focus {
  outline: 0;
}
.burger::before {
  content: '';
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.burger-active::before {
  opacity: 1;
  width: 20px;
  height: 20px;
  content: '';
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}
.line {
  width: 100%;
  height: 2px;
  background: #000;
  -webkit-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
  position: relative;
  cursor: pointer;
}
.burger-active .line {
  background: transparent;
  width: 100%;
  height: 2px;
  transition: all 0.4s ease;
  display: block;
  position: relative;
}
.line::before {
  width: 100%;
  height: 2px;
  background: #000;
  -webkit-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  top: -6px;
  content: '';
  position: absolute;
  left: 0;
}
.burger-active .line::before {
  top: 0;
  transform: rotate(225deg);
  width: 100%;
  height: 2px;
  background: #000;
  transition: all 0.4s ease;

  content: '';
  position: absolute;
  left: 0;
}
.line::after {
  width: 100%;
  height: 2px;
  background: #000;
  -webkit-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  bottom: -6px;
  content: '';
  position: absolute;
  left: 0;
}
.burger-active .line::after {
  bottom: 0;
  transform: rotate(-225deg);
  width: 100%;
  height: 2px;
  background: #000;
  transition: all 0.4s ease;
  content: '';
  position: absolute;
  left: 0;
}
.list,
.list-active {
  list-style: none;
  display: flex;
  justify-self: end;
}
.link {
  color: black;
  text-decoration: none;
  transition: 0.3s;
  margin-right: 1.4em;
  font-size: 1.1em;
}
.link:hover {
  text-decoration: underline;
}
.link-settings {
  font-size: 1.1em;
  transition: 0.3s;
  text-align: center;
}
.link-settings:hover {
  cursor: pointer;
}
@media (max-width: 769px) {
  .nav {
    grid-template-areas:
      'logo icons'
      'links links';
    width: 100%;
  }
  .logo {
    grid-area: logo;
  }
  .single-line {
    display: none;
  }
  .image-logo {
    width: 60px;
  }
  .container-currently {
    grid-template-columns: 1fr;
  }
  .links {
    display: none;
  }
  .links.false {
    display: block;
    width: 100%;
    grid-area: links;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: rgb(245, 245, 245);
  }
  .links.false .link-header {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .burger,
  .burger-active {
    display: block;
    justify-self: end;
    grid-area: icons;
  }
  .list {
    display: none;
  }
  .list-active {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    grid-area: links;
    margin-top: 1.5em;
  }
  .link,
  .link-settings {
    font-size: 1.6em;
    border-top: 1px solid var(--link-burger-border-color);
    width: 100%;
    display: block;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    box-sizing: border-box;
  }
  .link:hover,
  .link-settings:hover {
    background-color: rgb(231, 232, 232);
    color: black;
    text-decoration: none;
  }
  .title {
    font-size: 2.3em;
  }
  .description {
    font-size: 1.4em;
  }
  .currently {
    font-size: 1.1em;
  }
  .home-container {
    justify-content: space-between;
    height: 70%;
  }
}
