@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Open+Sans');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Nunito Sans', 'Open Sans', sans-serif;
}
h1::selection,
h1::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
span::selection,
a::selection {
  background-color: black;
  color: white;
}
@media (max-width: 769px) {
  .super-container {
    height: 100vh;
  }
}
